* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4F392B;
    width: 100%;
}
header.header,
footer.footer {
    /* border: 1px solid black; */
    width: 1200px;
    margin: 0 auto;
    font-size: 0;
    display: block;
    padding: 0;
    background-color: #E8E1DB;
}


/* ====================header==================== */
header.header {
    /* border: 1px solid blue; */
    display: block;
    clear: both;
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    /* vertical-align: baseline; */
    }

header.header>div>a{
    /* border: 1px solid red; */
    display: inline-block;
}

/* header.header>div{
    border: 1px solid green;
} */

header.header>div>a.top3{
    /* border: 1px solid yellow; */
    display: inline-block;
    /* float: right; */
    padding: 0px;
    margin: 5px;
    /* height: 60px; */
    position: relative;
    left: 800px;
    top: -15px;
}

/* header.header>div::after{
        content: "";
        clear: both;
        display: block;
    } */

header.header>div>a>img.logo {
    /* border: 1px solid black; */
    width: 200px;
    margin: 5px 20px;
    }

header.header>div>a.top3>img{
    /* border: 1px solid red; */
    /* width: 30px; */
    height: 25px;
    /* top: 45px; */
    /* padding: 3px; */
    margin: 0 5px;
    /* line-height: 50%; */
} 
/* header.header>div>a>img.cart {
    margin-right: 20px;
} */
/* ====================footer==================== */
footer.footer {
    width: 1200px;
    font-size: 16px;
    /* border: 1px solid red; */
    padding: 10px;
    background-color: #4F392B;
}

footer.footer>p {
    margin: 0;
    padding: 0;
    font-size: 8px;
    color: white;
}

footer.footer>div {
    /* border: 1px solid black; */
    display: inline-block;
    }

footer.footer>p {
    margin: 0;
    padding: 0;
    font-size: 8px;
    background-color: #4F392B;
    color: white;
}

div.footer {
    width: 1200px;
    margin: 0 auto;
    /* border: 1px solid red; */
    background-color: #E8E1DB;
    text-align: center;
}

div.footer>div.follow img,
div.pay img {
    width: 30px;
    margin: 15px 5px;
}

div.footer>div.contect,
div.follow,
div.pay {
    /* border: 1px solid black; */
    display: inline-block;
}

div.footer>div.contect {
    padding: 10px 20px;
    background-color: #DBD0BD;
    position: relative;
    top: -18px;
    margin: 0 100px;
}

div.footer>div.follow {
    position: relative;
    top: 5px;
    margin: 30px 100px;
}

div.footer>div.pay {
    position: relative;
    top: 5px;
    margin: 50px 100px;
}

div.footer>p {
    font-size: 10px;
    padding: 5px;
    margin-bottom: 0%;
}

div.gotop>img {
    width: 50px;
    float: right;
}

div.gotop>img:hover {
    width: 55px;
    cursor: pointer;
    transition-duration: 0.5s;
}

div.footer>div.contect,
div.follow {
    cursor: pointer;
}

div.footer>div.contect:hover {
    background-color: #4F392B;
    /* box-shadow: 0 2px #4F392B; */
    color: #DBD0BD;
    padding-bottom: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
}

/* ========================nav========================== */
div.nav {
    width: 1200px;
    margin: 0 auto;
    /* border: 1px solid red; */
    /* background-color: gray; */
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2;
    visibility: hidden;
}

div.nav>ul{
    width: 650px;
    margin: 0 auto;
    visibility: visible;
}

div.nav>ul.list>li {
    /* border: 1px solid red; */
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    padding: 20px;
}

div.nav>ul.list>li>a {
    color: #4F392B;
    text-decoration: none;
}

div.nav>ul.list>li>a:visited {
    color: #4F392B;
    text-decoration: none;
}

div.nav>ul.list>li>a:hover {
    background-color: none;
    box-shadow: 0 2px #4F392B;
    color: #4F392B;
    padding-bottom: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
}
div.nav>ul.list>li.concept {
    background-color: none;
    font-weight: 700;
    box-shadow: 0 2px #4F392B;
    padding-bottom: 10px;
}


/* ========================banner======================== */
div.banner {
    width: 1200px;
    box-sizing: border-box;
    margin: 0px auto;
    /* border: 1px solid red; */
    background-image: url("./photos/concept/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
}

div.banner::after {
    content: "";
    display: block;
    padding: 15%;
}

div.banner>h2 {
    text-align: center;
    /* border: 1px solid blue; */
    /* margin: 0;
    padding: 100px; */
    line-height: center;
}
div.banner>h2.first{
    padding: 100px 0 50px 0;
}


/* ====================concept1==================== */
div.concept1 {
    box-sizing: border-box;
    width: 1200px;
    margin: 100px auto;
    /* border: 1px solid blue; */
    background-image: url("./photos/concept/concept1.jpg");
    background-repeat: no-repeat;
    background-size: 60% auto;
    background-position: left;
    max-width: 1200px;
}

div.concept1::after {
    content: "";
    display: block;
    padding: 15%;
}

div.concept1:hover{
    transform: translateX(5%);
    transition-duration: 1.5s;
}
div.concept1>div.p1 {
    /* width: 300px; */
    display: inline-block;
    /* border: 1px solid red; */
    /* padding: 10px; */
    position: relative;
    left: 20%;
    transform: translateY(150%);
}


/* ========================concept2======================== */
div.concept2 {
    box-sizing: border-box;
    width: 1200px;
    margin: 100px auto;
    /* border: 1px solid black; */
    background-image: url("./photos/concept/concept2.jpg");
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: right;
}

div.concept2::after {
    content: "";
    display: block;
    padding: 20%;
}

div.concept2:hover{
    transform: translateX(-5%);
    transition-duration: 1.5s;
}

div.concept2>div.p2 {
    /* border: 1px solid red; */
    display: inline-block;
    position: relative;
    left: 68%;
    transform: translateY(500%);
}


/* ========================concept3======================== */
div.concept3 {
    /* border: 1px solid blue; */
    box-sizing: border-box;
    width: 1200px;
    margin: 100px auto;
    background-image: url("./photos/concept/concept3.jpg");
    background-repeat: no-repeat;
    background-size: 50% auto;
    max-width: 1200px;
}

div.concept3::after {
    content: "";
    display: block;
    padding: 20%;
}

div.concept3:hover{
    transform: translateX(5%);
    transition-duration: 1.5s;
}

div.concept3>div.p3 {
    /* border: 1px solid red; */
    display: inline-block;
    position: relative;
    left: 20%;
    transform: translateY(200%);
}


/* ========================concept4======================== */
div.concept4 {
    /* border: 1px solid black; */
    width: 1200px;
    margin: 100px auto;
    background-image: url("./photos/concept/concept4.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 60% auto;
    max-width: 1200px;
}

div.concept4::after {
    content: "";
    display: block;
    padding: 15%;
}

div.concept4:hover{
    transform: translateX(-5%);
    transition-duration: 1.5s;
}

div.concept4>div.p4 {
    /* border: 1px solid red; */
    display: inline-block;
    position: relative;
    left: 57%;
    transform: translateY(210%);
}


/* ========================last======================== */
div.last {
    /* border: 1px solid blue; */
    width: 1200px;
    margin: 0px auto;
    background-image: url("./photos/concept/last.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 1200px;
}

div.last::after {
    content: "";
    display: block;
    padding: 15%;
}

div.last>h3 {
    /* border: 1px solid red; */
    text-align: center;
    padding: 20px;
    position: relative;
    transform: translateY(300%);
}